@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");

html {
  background: rgb(238, 174, 202);
  background: rgb(131, 58, 180);
  background: linear-gradient(207deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

body {
  background-image: url(./bbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1024px;
  font-family: "Playfair Display", serif;
  color: white;
  padding-bottom: 3rem;
}

.container {
  width: 1024px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards div {
  min-height: 300px;
  width: 30%;
  text-align: center;
  box-shadow: 2px 4px 4px black;
}

.cards div a {
  color: white;
  text-decoration: none;
}

.card1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/Project\ 2/bike1.jpg);
  background-size: cover;
  background-position: center;
}

.card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/Project\ 2/Aston-Martin-Brough-Superior.jpg);
  background-size: cover;
  background-position: center;
}

.card3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/Project\ 2/Harley-Davidson-Iron-883-Hero.jpg);
  background-size: cover;
  background-position: center;
}

.herobox1 {
  flex: 2;
}

.herobox2 {
  flex: 1;
}

img {
  width: 100%;
}

.logo {
  height: 120px;
  width: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 12px;
  text-shadow: 2px 2px black;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 12px;
  text-shadow: 2px 2px black;
}

p {
  line-height: 1.5;
  text-shadow: 1px 1px black;
}

i {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 100px;
}

.nav-link {
  display: inline;
  margin-left: 1rem;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  position: relative;
}

.links {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  display: none;
  padding-top: 10px;
}

.dropdown .nav-link {
  width: 100%;
  padding-top: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-link:hover .dropdown {
  overflow: visible;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
}

.book-online {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  color: (148, 187, 233, 1);
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  box-shadow: 2px 2px 2px;
  border: none;
}

.book-online:hover {
  background-color: aqua;
  transition: all 100ms ease-out;
}

.testimonial {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tbox {
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 45%;
  border: 2px solid white;
  min-height: 250px;
  padding: 2rem;
}

.tbox p:last-child {
  font-style: italic;
}

/* Contact us page */

.input-wrapper {
  margin-bottom: 1rem;
}

input {
  border: 1px solid grey;
  outline-color: lightcoral;
  outline-offset: 2px;
}

input[type="text"], input[type="email"] {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
}

textarea {
  padding: 0.25rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid grey;
  outline-color: lightcoral;
  outline-offset: 2px;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

.chk-wrapper label {
  padding-left: 1rem;
  display: inline;
}

select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  outline-color: lightcoral;
  outline-offset: 2px;
  width: 100%;
  max-width: 200px;
}